services:
  rabbitmq:
    image: 'rabbitmq:latest'
    environment:
      - 'RABBITMQ_DEFAULT_PASS=boilerplate'
      - 'RABBITMQ_DEFAULT_USER=boilerplate'
    ports:
      - '5672:5672'
    networks:
      - nt-general-come-come

  postgres-off:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=ms-off'
      - 'POSTGRES_PASSWORD=boilerplate'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5433:5432' # Porta do host 5433
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-off:
    build: ./OFF-Come-come/.
    ports:
      - '8082:8082'
    environment:
      # Renomeado para o formato padrão do Spring Boot
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-off:5432/ms-off'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=boilerplate'
    depends_on:
      postgres-off:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - nt-general-come-come

  postgres-cadastro:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=ms-cadastro'
      - 'POSTGRES_PASSWORD=boilerplate'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5431:5432' # Porta do host 5431
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-cadastro:
    build: ./Cadastro-Come-come/.
    ports:
      - '8081:8081'
    environment:
      # Renomeado para o formato padrão do Spring Boot
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-cadastro:5432/ms-cadastro'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=boilerplate'
    depends_on:
      postgres-cadastro:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - nt-general-come-come

  postgres-anamnese:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=ms-anamnese'
      - 'POSTGRES_PASSWORD=boilerplate'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5434:5432' # Porta do host 5434
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-anamnese:
    build: ./Anamnese-Come-come/.
    ports:
      - '8084:8084'
    environment:
      # Renomeado para o formato padrão do Spring Boot
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-anamnese:5432/ms-anamnese'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=boilerplate'
    depends_on:
      postgres-anamnese:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - nt-general-come-come

networks:
  nt-general-come-come:
    driver: bridge