services:

  # Eureka Server
  eureka-server:
    build: ./eureka-server/.
    container_name: eureka-server
    ports:
      - '${EUREKA_PORT}:8761'
    networks:
      - nt-general-come-come

  # API Gateway
  api-gateway:
    build: ./api-gateway/.
    ports:
      - '${GATEWAY_PORT}:${GATEWAY_PORT}'
    environment:
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED=true'
      - 'SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_LOWERCASE-SERVICE-ID=true'
      - 'SPRING_DATA_REDIS_HOST=redis'
      - 'SPRING_DATA_REDIS_PORT=6379'
      - 'SPRING_DATA_REDIS_PASSWORD=${GLOBAL_PASSWORD}'
      - 'SERVER_PORT=${GATEWAY_PORT}'
      - 'SPRING_APPLICATION_NAME=api-gateway'
    depends_on:
      eureka-server:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - nt-general-come-come

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "${RABBITMQ_AMQP_PORT}:5672"
      - "${RABBITMQ_MGMT_PORT}:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${GLOBAL_PASSWORD}
      - RABBITMQ_NODENAME=rabbit@rabbitmq
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - nt-general-come-come
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 10s
      retries: 5

  redis:
    image: 'redis:latest'
    ports:
      - '${REDIS_PORT}:6379'
    environment:
      - 'REDIS_PASSWORD=${GLOBAL_PASSWORD}'
    command: redis-server --requirepass ${GLOBAL_PASSWORD}
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${GLOBAL_PASSWORD}", "--raw", "incr", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # --- MS OFF ---
  postgres-off:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB_OFF_NAME}'
      - 'POSTGRES_PASSWORD=${GLOBAL_PASSWORD}'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=md5'
    ports:
      - '${DB_OFF_EXT_PORT}:5432'
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_OFF_NAME} -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./OFF-Come-come/src/main/resources/OFF.sql:/docker-entrypoint-initdb.d/01-init-off.sql
      - postgres_off_data:/var/lib/postgresql

  ms-off:
    build: ./OFF-Come-come/.
    ports:
      - '${MS_OFF_PORT}:${MS_OFF_PORT}'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-off:5432/${DB_OFF_NAME}'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=${GLOBAL_PASSWORD}'
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_OFF_PORT}'
      - 'SPRING_APPLICATION_NAME=OPENFOODFACTS'
      - 'SPRING_DATASOURCE_HIKARI_CONNECTION-TIMEOUT=300000'
      - 'SPRING_DATASOURCE_HIKARI_INITIALIZATION-FAIL-TIMEOUT=-1'
      - 'SPRING_JPA_HIBERNATE_DDL_AUTO=none'
      - 'SPRING_RABBITMQ_HOST=rabbitmq'
      - 'SPRING_RABBITMQ_PORT=5672'
      - 'SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}'
      - 'SPRING_RABBITMQ_PASSWORD=${GLOBAL_PASSWORD}'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-off:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - nt-general-come-come

  # --- MS CADASTRO ---
  postgres-cadastro:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB_CADASTRO_NAME}'
      - 'POSTGRES_PASSWORD=${GLOBAL_PASSWORD}'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=md5'
    ports:
      - '${DB_CADASTRO_EXT_PORT}:5432'
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_CADASTRO_NAME} -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-cadastro:
    build: ./Cadastro-Come-come/.
    ports:
      - '${MS_CADASTRO_PORT}:${MS_CADASTRO_PORT}'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-cadastro:5432/${DB_CADASTRO_NAME}'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=${GLOBAL_PASSWORD}'
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_CADASTRO_PORT}'
      - 'SPRING_APPLICATION_NAME=CADASTRO'
      - 'AZURE_STORAGE_ACCOUNT-NAME=${AZURE_ACCOUNT_NAME}'
      - 'AZURE_STORAGE_ACCOUNT-KEY=${AZURE_ACCOUNT_KEY}'
      - 'AZURE_STORAGE_CONTAINER-NAME=${AZURE_CONTAINER_NAME}'
      - 'SPRING_RABBITMQ_HOST=rabbitmq'
      - 'SPRING_RABBITMQ_PORT=5672'
      - 'SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}'
      - 'SPRING_RABBITMQ_PASSWORD=${GLOBAL_PASSWORD}'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-cadastro:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - nt-general-come-come

  # --- MS ANAMNESE ---
  postgres-anamnese:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB_ANAMNESE_NAME}'
      - 'POSTGRES_PASSWORD=${GLOBAL_PASSWORD}'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=md5'
    ports:
      - '${DB_ANAMNESE_EXT_PORT}:5432'
    networks:
      - nt-general-come-come
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DB_ANAMNESE_NAME} -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-anamnese:
    build: ./Anamnese-Come-come/.
    ports:
      - '${MS_ANAMNESE_PORT}:${MS_ANAMNESE_PORT}'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-anamnese:5432/${DB_ANAMNESE_NAME}'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=${GLOBAL_PASSWORD}'
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_ANAMNESE_PORT}'
      - 'SPRING_APPLICATION_NAME=ANAMNESE'
      - 'SPRING_RABBITMQ_HOST=rabbitmq'
      - 'SPRING_RABBITMQ_PORT=5672'
      - 'SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}'
      - 'SPRING_RABBITMQ_PASSWORD=${GLOBAL_PASSWORD}'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-anamnese:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - nt-general-come-come

  # --- MS HISTORICO ---
  postgres-historico:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB_HISTORICO_NAME}'
      - 'POSTGRES_PASSWORD=${GLOBAL_PASSWORD}'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=md5'
    ports:
      - '${DB_HISTORICO_EXT_PORT}:5432'
    networks:
      - ${NETWORK_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${DB_HISTORICO_NAME} -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-historico:
    build: ./Historico-come-come-main/.
    ports:
      - '${MS_HISTORICO_PORT}:${MS_HISTORICO_PORT}'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-historico:5432/${DB_HISTORICO_NAME}'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=${GLOBAL_PASSWORD}'
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_HISTORICO_PORT}'
      - 'SPRING_APPLICATION_NAME=HISTORICO'
      - 'SPRING_RABBITMQ_HOST=rabbitmq'
      - 'SPRING_RABBITMQ_PORT=5672'
      - 'SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}'
      - 'SPRING_RABBITMQ_PASSWORD=${GLOBAL_PASSWORD}'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-historico:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      ms-off:
        condition: service_started
    networks:
      - nt-general-come-come

  # --- MS EMAIL ---
  ms-email:
    build: ./Email-Come-come/.
    ports:
      - '${MS_EMAIL_PORT}:${MS_EMAIL_PORT}'
    environment:
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_EMAIL_PORT}'
      - 'SPRING_APPLICATION_NAME=EMAIL'
      - 'SPRING_RABBITMQ_HOST=rabbitmq'
      - 'SPRING_RABBITMQ_PORT=5672'
      - 'SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}'
      - 'SPRING_RABBITMQ_PASSWORD=${GLOBAL_PASSWORD}'
      - 'SPRING_MAIL_HOST=${SMTP_HOST}'
      - 'SPRING_MAIL_PORT=${SMTP_PORT}'
      - 'SPRING_MAIL_USERNAME=${SMTP_USER}'
      - 'SPRING_MAIL_PASSWORD=${SMTP_PASS}'
      - 'SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true'
      - 'SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-historico:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      ms-cadastro:
        condition: service_started
    networks:
      - nt-general-come-come

  # --- MS FAVORITOS ---
  postgres-favoritos:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=${DB_FAVORITOS_NAME}'
      - 'POSTGRES_PASSWORD=${GLOBAL_PASSWORD}'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=md5'
    ports:
      - '${DB_FAVORITOS_EXT_PORT}:5432'
    networks:
      - nt-general-come-come
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${DB_FAVORITOS_NAME} -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-favoritos:
    build: ./favorite/.
    ports:
      - '${MS_FAVORITOS_PORT}:${MS_FAVORITOS_PORT}'
    environment:
      - 'SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-favoritos:5432/${DB_FAVORITOS_NAME}'
      - 'SPRING_DATASOURCE_USERNAME=postgres'
      - 'SPRING_DATASOURCE_PASSWORD=${GLOBAL_PASSWORD}'
      - 'SPRING_JPA_HIBERNATE_DDL_AUTO=update'
      - 'SPRING_JPA_SHOW_SQL=true'
      - 'SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true'
      - 'SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect'
      - 'SPRING_JACKSON_SERIALIZATION_FAIL_ON_EMPTY_BEANS=false'
      - 'EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/'
      - 'EUREKA_CLIENT_REGISTER-WITH-EUREKA=true'
      - 'EUREKA_CLIENT_FETCH-REGISTRY=true'
      - 'SERVER_PORT=${MS_FAVORITOS_PORT}'
      - 'SPRING_APPLICATION_NAME=FAVORITE'
    depends_on:
      eureka-server:
        condition: service_started
      postgres-favoritos:
        condition: service_healthy
    networks:
      - nt-general-come-come

volumes:
  rabbitmq_data:
  postgres_off_data:

networks:
  nt-general-come-come:
    name: ${NETWORK_NAME}
    driver: bridge
