name: Deploy application "Come-Come" to Production

on:
  push:
    branches: [dev, feature/workflow]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
